.view-id-uw_bulletins .views-row {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
}
.view-id-uw_bulletins .field-name-body .field-items,
.view-uw-bulletins .field-name-field-updates .field-items {
  padding-bottom: 0;
}
.bulletins_head {
  padding-left: 60px;
  margin-bottom: 1.5em;
}
.bulletins_head img {
  float: left;
  margin-left: -60px;
  width: 32px;
  height: 32px;
}
.bulletins_head h1 {
  margin-bottom: 0;
}
.bulletins_head h2 {
  margin-bottom: 0.2em;
}
.bulletins_head > div {
  font-size: 0.9em;
}
.postinfo {
  font-size: 0.8em;
  margin-bottom: 2em;
  color: #666;
}
.bulletins_categories div {
  display: inline;
}
.bulletins_categories .field-item {
  margin-right: 0.5em;
}
/*bulletins exposed filters*/
.view-id-uw_bulletins .views-exposed-form {
  font-size: 80%;
  position: relative;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-bottom: 1.5em;
}
.view-id-uw_bulletins .views-exposed-widgets > div {
  width: 29%;
  padding-right: 0.5em;
}
.view-id-uw_bulletins .views-exposed-widgets select {
  width: 100%;
}
.view-id-uw_bulletins .views-exposed-widgets > div.views-submit-button {
  width: auto;
  padding-right: 0;
}
.view-id-uw_bulletins .views-exposed-widget.views-submit-button {
  position: absolute;
  bottom: 4px; /* maybe 0.5em instead of 4px? */
  right: 0;
}
.view-id-uw_bulletins .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
  width: 100%;
  vertical-align: baseline;
}
